.h1Tag{
    border: 2px solid rgb(47, 136, 209);
    background-color: rgb(218, 99, 208);
    width: fit-content;
    margin: 10px auto 10px auto;
    color: rgb(46, 34, 32);
}
.inputTag{
    text-decoration: none;
    outline-color: violet;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid teal;
}